@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background: #14181c;
}

input[type="file"] {
  display: none;
}
.post_layout > div {
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}
/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-16 px-6;
}

.red_btn {
  @apply rounded-full border border-primary bg-primary py-1.5 px-5 text-white transition-all hover:bg-white hover:border-black hover:text-black text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-white bg-transparent py-1.5 px-5 text-white transition-all hover:bg-primary hover:border-primary hover:text-white text-center text-sm flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.5] text-white sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-2 text-gray-500 text-xs md:text-sm max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.form_style {
  @apply rounded-xl border border-gray-200 bg-white/75 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] p-5;
}

.post_layout {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
}


/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-semibold text-lg  tracking-wide;
}

.dropdown {
  @apply absolute left-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}

/* PostCard Component */
.post_card {
  @apply flex-1 rounded-lg border bg-white p-6 pb-4 md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
 .image_upload_input {
  @apply bg-primary text-white px-2 py-1.5 rounded-md;
 }